<% if logged_in? %>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <%= form_with(model: @task, local: true) do |f| %>
                <%= render "layouts/error_messages", model: f.object %>
                
                <div class="form-group">
                    <%= f.label :content, "内容" %>
                    <%= f.text_field :content, class: "form-control" %>
                </div>
                
                <div class="form-group">
                    <%= f.label :status, "状態" %>
                    <%= f.text_field :status, class: "form-control" %>
                </div>
                
                <%= f.submit "登録" %>
            <% end %>
        </div>
    </div>
<% else %>
    <%= render root_url %>
<% end %>
